* {
  box-sizing: border-box;
}

body {
  background-color: ;
  font-family: sans-serif;
  height: 100vh;
  margin: 0 auto;
  width: 100vw;
}

p label, p input {
  display: inline-block;
  height: 2vh;
  margin: 1% 0 1% 0;
}

p textarea, p input, p label {
  width: 90%;
}

p input {
  height: 5vh;
}

.aviso, p span {
  font-size: 0.9em;
  color: red;
}

.cabecalho {
  height: 12%;
  margin: 0 auto;
  width: 75%;
}

.cabecalho ul {
  background-color: #ec4f8c;
  list-style-type: none;
  height: 100%;
  margin: 0 ;
  overflow: hidden;
  padding: 0;
}

.cabecalho ul li {
  display: inline-block;
  height: 100%;
}

.cabecalho ul li a {
  display: block;
  color: white;
  height: 100%;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

.cabecalho ul li a:hover {
    background-color: #ee6d8d;
}

.corpo {
  background-color: white;
  border: 1px solid #f9d2e0;
  border-radius: 5px;
  color: #222222;
  margin: 0 auto;
  padding: 3%;
  width: 75%;*/
}

.negrito {
  font-weight: bold;
}

.btn {
  background-color: #ea108c;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
