{% load staticfiles %}
<html>
    <head>
        <title>Cadastro IMAMA</title>
        <link rel="stylesheet" href="{% static 'css/imama.css' %}">
    </head>
    <body>
      <div class="cabecalho">
        {% if perms.pode_adicionar_paciente %}
        <ul>
          <li><a href="/"> Lista de pacientes</a></li>
          <li><a href="{% url 'nova_paciente' %}"> Adicionar paciente</a></li>
        </ul>
        {% endif %}
      </div>
      <div class="corpo">
        {% block content %}
        {% endblock %}
      </div>
    </body>
</html>
